@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	font: "微软雅黑";
	font-size:12px;
}
body{
	background:#e8fbff;
}
.wrap{
	width:700px;
	margin:0 auto;
}
.banner{
	width:700px;
	height:170px;
	background:url(images/banner1.jpg);
}
.banner ul{

	padding-top:150px;
	line-height:20px;
}
.banner li{
	list-style-type:none;
	float:left;
	width:100px;
	text-align:center;
}
.banner a{
	color:#000;
	text-decoration:none;
}
.main{
	width:700px;
}
.left{
	width:150px;
	background:url(images/container_bg.jpg) repeat-y;
	float:left;
	height:650px;


}
.left .img1{

	padding:20px 0 ;
	font-size:12px;
	text-align:center;
}
.left p{
	color:#06F;
	padding-left:10px;
	padding-right:20px;
}

.right{
	width:510px;
	background:url(images/bg1.jpg) right bottom no-repeat;
	float:left;
	height:650px;
	padding:0 20px;
}
.right .title{
	padding-top:20px;
	padding-bottom:20px;
}
.right a{

	font-size:14px;
}
.footer{
	clear:both;
	width:700px;
	line-height:20px;
	background:url(images/bg2.jpg);
	text-align:center;

}



